body{
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

input{
    margin-top: 2rem;
    font-size: 1rem;
    padding: 0.5rem;
}

